.bg-purple-dark {
  background: #99a9bf;
}
.bg-purple {
  background: #d3dce6;
}
.bg-purple-light {
  background: #e5e9f2;
}
bg-image($url)
  background-image: url($url)

  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)

    background-image: url($url)
.right{
  float: right
}
.color_line{
  border 1px solid #e6e6e6
}
  .color_line_right{
    border-right 1px solid #e6e6e6
  }
.color_line_left{
  border-left 1px solid #e6e6e6
}
.color_line_bottom{
  border-bottom 1px solid #e6e6e6
}
.color_line_top{
  border-top 1px solid #e6e6e6
}
